In [1]:
import pandas as pd
import numpy as np
import os

print("Libraries loaded. Pandas version:", pd.__version__)

Libraries loaded. Pandas version: 2.2.3

In [6]:
import pandas as pd

is_df = pd.read_csv("Raw Data - IS.csv")
bs_df = pd.read_csv("Raw Data - BS.csv")
cf_df = pd.read_csv("Raw Data - CF.csv")

print("IS shape:", is_df.shape); display(is_df.head(3))
print("BS shape:", bs_df.shape); display(bs_df.head(3))
print("CF shape:", cf_df.shape); display(cf_df.head(3))

IS shape: (4, 20)

,stock,endDate,netIncomeApplicableToCommonShares,netIncomeFromContinuingOps,totalOtherIncomeExpenseNet,costOfRevenue,totalOperatingExpenses,totalRevenue,incomeTaxExpense,interestExpense,operatingIncome,ebit,grossProfit,sellingGeneralAdministrative,netIncome,incomeBeforeTax,researchDevelopment,otherOperatingExpenses,minorityInterest,discontinuedOperations
0,AAPL,28/09/2019,55256000000,55256000000,1807000000,161782000000,196244000000,260174000000,10481000000,-3576000000,63930000000,63930000000,98392000000,18245000000,55256000000,65737000000,16217000000,NaN,NaN,NaN
1,AAPL,29/09/2018,59531000000,59531000000,2005000000,163756000000,194697000000,265595000000,13372000000,-3240000000,70898000000,70898000000,101839000000,16705000000,59531000000,72903000000,14236000000,NaN,NaN,NaN
2,AAPL,30/09/2017,48351000000,48351000000,2745000000,141048000000,167890000000,229234000000,15738000000,-2323000000,61344000000,61344000000,88186000000,15261000000,48351000000,64089000000,11581000000,NaN,NaN,NaN

BS shape: (4, 31)

,stock,endDate,accountsPayable,inventory,longTermDebt,netReceivables,netTangibleAssets,longTermInvestments,totalCurrentAssets,propertyPlantEquipment,...,totalAssets,otherCurrentLiab,deferredLongTermLiab,totalStockholderEquity,totalLiab,capitalSurplus,intangibleAssets,shortTermInvestments,shortLongTermDebt,minorityInterest
0,AAPL,28/09/2019,46236000000,4106000000,91807000000,45804000000,9.048800e+10,1.050000e+11,1.630000e+11,37378000000,...,3.390000e+11,43242000000,NaN,9.048800e+10,2.480000e+11,NaN,NaN,51713000000,10260000000,NaN
1,AAPL,29/09/2018,55888000000,3956000000,93735000000,48995000000,1.070000e+11,1.710000e+11,1.310000e+11,41304000000,...,3.660000e+11,39293000000,NaN,1.070000e+11,2.590000e+11,NaN,NaN,40388000000,8784000000,NaN
2,AAPL,30/09/2017,44242000000,4855000000,97207000000,35673000000,1.340000e+11,1.950000e+11,1.290000e+11,33783000000,...,3.750000e+11,38099000000,NaN,1.340000e+11,2.410000e+11,NaN,NaN,53892000000,6496000000,NaN

CF shape: (4, 22)

,stock,endDate,capitalExpenditures,changeToNetincome,otherCashflowsFromFinancingActivities,changeToAccountReceivables,changeToInventory,dividendsPaid,otherCashflowsFromInvestingActivities,depreciation,...,repurchaseOfStock,changeInCash,netIncome,changeToOperatingActivities,totalCashFromFinancingActivities,netBorrowings,totalCashflowsFromInvestingActivities,changeToLiabilities,issuanceOfStock,investments
0,AAPL,28/09/2019,-10495000000,5076000000,-105000000,245000000,-289000000,-14119000000,-1078000000,12547000000,...,-69714000000,24311000000,55256000000,-896000000,-90976000000,-7819000000,45896000000,-2548000000,781000000,58093000000
1,AAPL,29/09/2018,-13313000000,-27694000000,-105000000,-5322000000,828000000,-13712000000,-745000000,10903000000,...,-75265000000,5624000000,59531000000,30016000000,-87876000000,432000000,16066000000,9172000000,669000000,30845000000
2,AAPL,30/09/2017,-12451000000,10640000000,-105000000,-2093000000,-2723000000,-12769000000,-124000000,10157000000,...,-34774000000,-195000000,48351000000,-8480000000,-17974000000,29014000000,-46446000000,8373000000,555000000,-33542000000

In [7]:
# --- Income Statement ---
is_clean = is_df[[
    "endDate",
    "totalRevenue",
    "costOfRevenue",
    "researchDevelopment",
    "sellingGeneralAdministrative",
    "depreciation",
    "interestExpense",
    "incomeTaxExpense",
    "netIncome"
]].copy()

# --- Balance Sheet ---
bs_clean = bs_df[[
    "endDate",
    "cash",
    "netReceivables",
    "inventory",
    "accountsPayable",
    "propertyPlantEquipment",
    "longTermDebt",
    "shortLongTermDebt",
    "totalAssets",
    "totalLiab",
    "totalStockholderEquity"
]].copy()

# --- Cash Flow ---
cf_clean = cf_df[[
    "endDate",
    "capitalExpenditures",
    "dividendsPaid",
    "depreciation"
]].copy()

# Convert to USD millions
for df in [is_clean, bs_clean, cf_clean]:
    num_cols = df.columns.drop("endDate")
    df[num_cols] = df[num_cols] / 1_000_000

# Sort by year
for df in [is_clean, bs_clean, cf_clean]:
    df["endDate"] = pd.to_datetime(df["endDate"])
    df.sort_values("endDate", inplace=True)

# Preview
print("Income Statement cleaned:")
display(is_clean)

print("Balance Sheet cleaned:")
display(bs_clean)

print("Cash Flow cleaned:")
display(cf_clean)

<class 'KeyError'>: "['depreciation'] not in index"

In [8]:
print("IS columns:", list(is_df.columns))
print("BS columns:", list(bs_df.columns))
print("CF columns:", list(cf_df.columns))

IS columns: ['stock', 'endDate', 'netIncomeApplicableToCommonShares', 'netIncomeFromContinuingOps', 'totalOtherIncomeExpenseNet', 'costOfRevenue', 'totalOperatingExpenses', 'totalRevenue', 'incomeTaxExpense', 'interestExpense', 'operatingIncome', 'ebit', 'grossProfit', 'sellingGeneralAdministrative', 'netIncome', 'incomeBeforeTax', 'researchDevelopment', 'otherOperatingExpenses', 'minorityInterest', 'discontinuedOperations']
BS columns: ['stock', 'endDate', 'accountsPayable', 'inventory', 'longTermDebt', 'netReceivables', 'netTangibleAssets', 'longTermInvestments', 'totalCurrentAssets', 'propertyPlantEquipment', 'otherStockholderEquity', 'deferredLongTermAssetCharges', 'totalCurrentLiabilities', 'cash', 'otherAssets', 'treasuryStock', 'goodWill', 'otherLiab', 'retainedEarnings', 'otherCurrentAssets', 'commonStock', 'totalAssets', 'otherCurrentLiab', 'deferredLongTermLiab', 'totalStockholderEquity', 'totalLiab', 'capitalSurplus', 'intangibleAssets', 'shortTermInvestments', 'shortLongTermDebt', 'minorityInterest']
CF columns: ['stock', 'endDate', 'capitalExpenditures', 'changeToNetincome', 'otherCashflowsFromFinancingActivities', 'changeToAccountReceivables', 'changeToInventory', 'dividendsPaid', 'otherCashflowsFromInvestingActivities', 'depreciation', 'totalCashFromOperatingActivities', 'effectOfExchangeRate', 'repurchaseOfStock', 'changeInCash', 'netIncome', 'changeToOperatingActivities', 'totalCashFromFinancingActivities', 'netBorrowings', 'totalCashflowsFromInvestingActivities', 'changeToLiabilities', 'issuanceOfStock', 'investments']

In [10]:
import pandas as pd

# ---------- Income Statement ----------
is_clean = is_df[[
    "endDate",
    "totalRevenue",                 # Revenue
    "costOfRevenue",                # COGS
    "researchDevelopment",          # R&D
    "sellingGeneralAdministrative", # SG&A
    "interestExpense",              # Interest
    "incomeTaxExpense",             # Taxes
    "netIncome"                     # Net Income
]].copy()

# ---------- Balance Sheet ----------
bs_clean = bs_df[[
    "endDate",
    "cash",
    "netReceivables",               # AR
    "inventory",
    "accountsPayable",              # AP
    "propertyPlantEquipment",       # PP&E (gross or net as provided)
    "shortLongTermDebt",            # Short-term debt/current portion
    "longTermDebt",                 # Long-term debt
    "totalAssets",
    "totalLiab",
    "totalStockholderEquity"
]].copy()

# ---------- Cash Flow ----------
# Note: capex & dividends are usually negative in CF; make them positive outflows
cf_tmp = cf_df[[
    "endDate",
    "capitalExpenditures",
    "dividendsPaid",
    "depreciation",
    "totalCashFromOperatingActivities"
]].copy()

cf_clean = cf_tmp.rename(columns={
    "capitalExpenditures": "capex_raw",
    "dividendsPaid": "dividends_raw"
})
cf_clean["CapEx"] = -cf_clean["capex_raw"]              # positive number for spend
cf_clean["Dividends"] = -cf_clean["dividends_raw"]      # positive number for cash paid
cf_clean = cf_clean[["endDate", "CapEx", "Dividends", "depreciation", "totalCashFromOperatingActivities"]]

# ---------- Common formatting ----------
for df in (is_clean, bs_clean, cf_clean):
    df["endDate"] = pd.to_datetime(df["endDate"])
    # Convert to USD millions
    for c in df.columns:
        if c != "endDate":
            df[c] = df[c] / 1_000_000
    df.sort_values("endDate", inplace=True)
    df["Year"] = df["endDate"].dt.year

# ---------- Preview ----------
print("Income Statement (millions):")
display(is_clean)

print("Balance Sheet (millions):")
display(bs_clean)

print("Cash Flow (millions):")
display(cf_clean)

<ipython-input-10-e504e8bbfaec>:50: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["endDate"] = pd.to_datetime(df["endDate"])
<ipython-input-10-e504e8bbfaec>:50: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["endDate"] = pd.to_datetime(df["endDate"])
<ipython-input-10-e504e8bbfaec>:50: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["endDate"] = pd.to_datetime(df["endDate"])

Income Statement (millions):

,endDate,totalRevenue,costOfRevenue,researchDevelopment,sellingGeneralAdministrative,interestExpense,incomeTaxExpense,netIncome,Year
3,2016-09-24,215639.0,131376.0,10045.0,14194.0,-1456.0,15685.0,45687.0,2016
2,2017-09-30,229234.0,141048.0,11581.0,15261.0,-2323.0,15738.0,48351.0,2017
1,2018-09-29,265595.0,163756.0,14236.0,16705.0,-3240.0,13372.0,59531.0,2018
0,2019-09-28,260174.0,161782.0,16217.0,18245.0,-3576.0,10481.0,55256.0,2019

Balance Sheet (millions):

,endDate,cash,netReceivables,inventory,accountsPayable,propertyPlantEquipment,shortLongTermDebt,longTermDebt,totalAssets,totalLiab,totalStockholderEquity,Year
3,2016-09-24,20484.0,29299.0,2132.0,37294.0,27010.0,3500.0,75427.0,322000.0,193000.0,128000.0,2016
2,2017-09-30,20289.0,35673.0,4855.0,44242.0,33783.0,6496.0,97207.0,375000.0,241000.0,134000.0,2017
1,2018-09-29,25913.0,48995.0,3956.0,55888.0,41304.0,8784.0,93735.0,366000.0,259000.0,107000.0,2018
0,2019-09-28,48844.0,45804.0,4106.0,46236.0,37378.0,10260.0,91807.0,339000.0,248000.0,90488.0,2019

Cash Flow (millions):

,endDate,CapEx,Dividends,depreciation,totalCashFromOperatingActivities,Year
3,2016-09-24,12734.0,12150.0,10505.0,66231.0,2016
2,2017-09-30,12451.0,12769.0,10157.0,64225.0,2017
1,2018-09-29,13313.0,13712.0,10903.0,77434.0,2018
0,2019-09-28,10495.0,14119.0,12547.0,69391.0,2019

In [11]:
# ---- Base Case Driver Seeding ----

hist = {}

# Revenue CAGR (2016–2019)
rev_start = is_clean.loc[is_clean["Year"] == 2016, "totalRevenue"].values[0]
rev_end   = is_clean.loc[is_clean["Year"] == 2019, "totalRevenue"].values[0]
cagr = (rev_end / rev_start) ** (1/3) - 1
hist["Revenue CAGR"] = cagr

# Avg margins
hist["COGS_pct"] = (is_clean["costOfRevenue"] / is_clean["totalRevenue"]).mean()
hist["R&D_pct"]  = (is_clean["researchDevelopment"] / is_clean["totalRevenue"]).mean()
hist["SG&A_pct"] = (is_clean["sellingGeneralAdministrative"] / is_clean["totalRevenue"]).mean()

# Effective tax rate (tax / pre-tax income)
hist["Tax_rate"] = (is_clean["incomeTaxExpense"] / 
                    (is_clean["netIncome"] + is_clean["incomeTaxExpense"])).mean()

# CapEx % Revenue
hist["CapEx_pct"] = (cf_clean["CapEx"] / is_clean["totalRevenue"]).mean()

# Dep % Revenue
hist["Dep_pct"] = (cf_clean["depreciation"] / is_clean["totalRevenue"]).mean()

# Dividend payout % (Div / NI)
hist["Div_payout"] = (cf_clean["Dividends"] / is_clean["netIncome"]).mean()

# Working capital days
rev = is_clean.set_index("Year")["totalRevenue"]
cogs = is_clean.set_index("Year")["costOfRevenue"]

# Averages across years
dso = (bs_clean["netReceivables"] / (rev / 365)).mean()
dsi = (bs_clean["inventory"] / (cogs / 365)).mean()
dpo = (bs_clean["accountsPayable"] / (cogs / 365)).mean()

hist["DSO"] = dso
hist["DSI"] = dsi
hist["DPO"] = dpo

# Interest rates (rough: Interest Expense / Avg Debt)
avg_debt = (bs_clean["shortLongTermDebt"] + bs_clean["longTermDebt"]).mean()
avg_int_exp = is_clean["interestExpense"].mean()
hist["Debt_rate"] = abs(avg_int_exp / avg_debt)  # take abs since interestExp is negative

# Show results nicely
pd.Series(hist).apply(lambda x: round(x,4) if isinstance(x, (float,int)) else x)

Revenue CAGR    0.0646
COGS_pct        0.6157
R&D_pct         0.0533
SG&A_pct        0.0664
Tax_rate        0.2110
CapEx_pct       0.0510
Dep_pct         0.0456
Div_payout      0.2540
DSO                NaN
DSI                NaN
DPO                NaN
Debt_rate       0.0274
dtype: float64

In [12]:
# Merge IS + BS on Year to align denominators
merged = bs_clean.merge(is_clean[["Year","totalRevenue","costOfRevenue"]], on="Year")

# DSO = AR / (Revenue/365)
merged["DSO"] = merged["netReceivables"] / (merged["totalRevenue"]/365)

# DSI = Inventory / (COGS/365)
merged["DSI"] = merged["inventory"] / (merged["costOfRevenue"]/365)

# DPO = AP / (COGS/365)
merged["DPO"] = merged["accountsPayable"] / (merged["costOfRevenue"]/365)

wc_avgs = merged[["DSO","DSI","DPO"]].mean()
wc_avgs.round(2)

DSO     59.50
DSI      9.14
DPO    111.75
dtype: float64

In [13]:
# Base case assumptions derived from historicals
base_assumptions = {
    "Rev_Growth": [0.065, 0.05, 0.045, 0.04, 0.035],  # taper down CAGR
    "COGS_pct": [0.616]*5,
    "R&D_pct": [0.053]*5,
    "SG&A_pct": [0.066]*5,
    "Tax_rate": [0.21]*5,
    "CapEx_pct": [0.051]*5,
    "Dep_pct": [0.046]*5,
    "Div_payout": [0.25]*5,
    "ST_Debt_Rate": [0.027]*5,
    "LT_Debt_Rate": [0.027]*5,
    "DSO": [59.5]*5,
    "DSI": [9.1]*5,
    "DPO": [111.8]*5
}

years = list(range(2020, 2025))
assumptions_df = pd.DataFrame(base_assumptions, index=years)
assumptions_df.index.name = "Year"

assumptions_df

,Rev_Growth,COGS_pct,R&D_pct,SG&A_pct,Tax_rate,CapEx_pct,Dep_pct,Div_payout,ST_Debt_Rate,LT_Debt_Rate,DSO,DSI,DPO
Year,,,,,,,,,,,,,
2020,0.065,0.616,0.053,0.066,0.21,0.051,0.046,0.25,0.027,0.027,59.5,9.1,111.8
2021,0.050,0.616,0.053,0.066,0.21,0.051,0.046,0.25,0.027,0.027,59.5,9.1,111.8
2022,0.045,0.616,0.053,0.066,0.21,0.051,0.046,0.25,0.027,0.027,59.5,9.1,111.8
2023,0.040,0.616,0.053,0.066,0.21,0.051,0.046,0.25,0.027,0.027,59.5,9.1,111.8
2024,0.035,0.616,0.053,0.066,0.21,0.051,0.046,0.25,0.027,0.027,59.5,9.1,111.8

In [14]:
# ---- Simple Base Case assumptions ----
base_df = assumptions_df.copy()

# ---- Bull case adjustments ----
# +3% growth, lower COGS, lower SG&A, lower Tax, better WC, higher CapEx
bull_df = base_df.copy()
bull_df["Rev_Growth"] = bull_df["Rev_Growth"] + 0.03
bull_df["COGS_pct"]   = bull_df["COGS_pct"] - 0.02
bull_df["SG&A_pct"]   = bull_df["SG&A_pct"] - 0.01
bull_df["Tax_rate"]   = bull_df["Tax_rate"] - 0.01
bull_df["CapEx_pct"]  = bull_df["CapEx_pct"] + 0.01
bull_df["DSO"]        = bull_df["DSO"] - 2
bull_df["DSI"]        = bull_df["DSI"] - 2
bull_df["DPO"]        = bull_df["DPO"] + 2

# ---- Bear case adjustments ----
# -3% growth, higher COGS, higher SG&A, higher Tax, worse WC, lower CapEx
bear_df = base_df.copy()
bear_df["Rev_Growth"] = bear_df["Rev_Growth"] - 0.03
bear_df["COGS_pct"]   = bear_df["COGS_pct"] + 0.02
bear_df["SG&A_pct"]   = bear_df["SG&A_pct"] + 0.01
bear_df["Tax_rate"]   = bear_df["Tax_rate"] + 0.01
bear_df["CapEx_pct"]  = bear_df["CapEx_pct"] - 0.01
bear_df["DSO"]        = bear_df["DSO"] + 2
bear_df["DSI"]        = bear_df["DSI"] + 2
bear_df["DPO"]        = bear_df["DPO"] - 2

# Combine into one DataFrame
assumptions_all = pd.concat({
    "Base": base_df,
    "Bull": bull_df,
    "Bear": bear_df
}, names=["Scenario", "Year"])

assumptions_all

               Rev_Growth  COGS_pct  R&D_pct  SG&A_pct  Tax_rate  CapEx_pct  \
Scenario Year
Base     2020       0.065     0.616    0.053     0.066      0.21      0.051
         2021       0.050     0.616    0.053     0.066      0.21      0.051
         2022       0.045     0.616    0.053     0.066      0.21      0.051
         2023       0.040     0.616    0.053     0.066      0.21      0.051
         2024       0.035     0.616    0.053     0.066      0.21      0.051
Bull     2020       0.095     0.596    0.053     0.056      0.20      0.061
         2021       0.080     0.596    0.053     0.056      0.20      0.061
         2022       0.075     0.596    0.053     0.056      0.20      0.061
         2023       0.070     0.596    0.053     0.056      0.20      0.061
         2024       0.065     0.596    0.053     0.056      0.20      0.061
Bear     2020       0.035     0.636    0.053     0.076      0.22      0.041
         2021       0.020     0.636    0.053     0.076      0.22      0.041
         2022       0.015     0.636    0.053     0.076      0.22      0.041
         2023       0.010     0.636    0.053     0.076      0.22      0.041
         2024       0.005     0.636    0.053     0.076      0.22      0.041

               Dep_pct  Div_payout  ST_Debt_Rate  LT_Debt_Rate   DSO   DSI  \
Scenario Year
Base     2020    0.046        0.25         0.027         0.027  59.5   9.1
         2021    0.046        0.25         0.027         0.027  59.5   9.1
         2022    0.046        0.25         0.027         0.027  59.5   9.1
         2023    0.046        0.25         0.027         0.027  59.5   9.1
         2024    0.046        0.25         0.027         0.027  59.5   9.1
Bull     2020    0.046        0.25         0.027         0.027  57.5   7.1
         2021    0.046        0.25         0.027         0.027  57.5   7.1
         2022    0.046        0.25         0.027         0.027  57.5   7.1
         2023    0.046        0.25         0.027         0.027  57.5   7.1
         2024    0.046        0.25         0.027         0.027  57.5   7.1
Bear     2020    0.046        0.25         0.027         0.027  61.5  11.1
         2021    0.046        0.25         0.027         0.027  61.5  11.1
         2022    0.046        0.25         0.027         0.027  61.5  11.1
         2023    0.046        0.25         0.027         0.027  61.5  11.1
         2024    0.046        0.25         0.027         0.027  61.5  11.1

                 DPO
Scenario Year
Base     2020  111.8
         2021  111.8
         2022  111.8
         2023  111.8
         2024  111.8
Bull     2020  113.8
         2021  113.8
         2022  113.8
         2023  113.8
         2024  113.8
Bear     2020  109.8
         2021  109.8
         2022  109.8
         2023  109.8
         2024  109.8

In [15]:
# ---- Income Statement Projection ----

def project_income_statement(hist_df, assumptions, scenario="Base"):
    """
    Projects 5-year Income Statement based on assumptions for a given scenario.
    """
    # Start with last actual revenue (2019)
    base_rev = hist_df.loc[hist_df["Year"] == 2019, "totalRevenue"].values[0]
    
    # Extract scenario assumptions
    scen = assumptions.loc[scenario]
    
    proj_rows = []
    rev = base_rev
    
    for yr, row in scen.iterrows():
        # Revenue grows from prior year
        rev = rev * (1 + row["Rev_Growth"])
        cogs = rev * row["COGS_pct"]
        rnd  = rev * row["R&D_pct"]
        sga  = rev * row["SG&A_pct"]
        dep  = rev * row["Dep_pct"]   # simple % of revenue
        ebit = rev - cogs - rnd - sga - dep
        int_exp = -( (row["ST_Debt_Rate"] + row["LT_Debt_Rate"]) / 2 * 50_000 )  # placeholder debt
        ebt  = ebit + int_exp
        tax  = max(ebt,0) * row["Tax_rate"]
        ni   = ebt - tax
        
        proj_rows.append({
            "Year": yr,
            "Revenue": rev,
            "COGS": cogs,
            "R&D": rnd,
            "SG&A": sga,
            "Dep": dep,
            "EBIT": ebit,
            "Interest": int_exp,
            "EBT": ebt,
            "Tax": tax,
            "Net_Income": ni
        })
    
    return pd.DataFrame(proj_rows)

# Run for Base scenario
is_proj_base = project_income_statement(is_clean, assumptions_all, scenario="Base")
is_proj_base

,Year,Revenue,COGS,R&D,SG&A,Dep,EBIT,Interest,EBT,Tax,Net_Income
0,2020,277085.310000,170684.550960,14685.521430,18287.630460,12745.924260,60681.682890,-1350.0,59331.682890,12459.653407,46872.029483
1,2021,290939.575500,179218.778508,15419.797502,19202.011983,13383.220473,63715.767035,-1350.0,62365.767035,13096.811077,49268.955957
2,2022,304031.856398,187283.623541,16113.688389,20066.102522,13985.465394,66582.976551,-1350.0,65232.976551,13698.925076,51534.051475
3,2023,316193.130653,194774.968482,16758.235925,20868.746623,14544.884010,69246.295613,-1350.0,67896.295613,14258.222079,53638.073534
4,2024,327259.890226,201592.092379,17344.774182,21599.152755,15053.954950,71669.915960,-1350.0,70319.915960,14767.182352,55552.733608

In [16]:
# Run projections for all 3 scenarios
proj_all = []

for scen in ["Base", "Bull", "Bear"]:
    df = project_income_statement(is_clean, assumptions_all, scenario=scen)
    df["Scenario"] = scen
    proj_all.append(df)

is_proj_all = pd.concat(proj_all).set_index(["Scenario", "Year"])
is_proj_all

                     Revenue           COGS           R&D          SG&A  \
Scenario Year
Base     2020  277085.310000  170684.550960  14685.521430  18287.630460
         2021  290939.575500  179218.778508  15419.797502  19202.011983
         2022  304031.856398  187283.623541  16113.688389  20066.102522
         2023  316193.130653  194774.968482  16758.235925  20868.746623
         2024  327259.890226  201592.092379  17344.774182  21599.152755
Bull     2020  284890.530000  169794.755880  15099.198090  15953.869680
         2021  307681.772400  183378.336350  16307.133937  17230.179254
         2022  330757.905330  197131.711577  17530.168982  18522.442698
         2023  353910.958703  210930.931387  18757.280811  19819.013687
         2024  376915.171019  224641.441927  19976.504064  21107.249577
Bear     2020  269280.090000  171262.137240  14271.844770  20465.286840
         2021  274665.691800  174687.379985  14557.281665  20874.592577
         2022  278785.677177  177307.690685  14775.640890  21187.711465
         2023  281573.533949  179080.767591  14923.397299  21399.588580
         2024  282981.401619  179976.171429  14998.014286  21506.586523

                        Dep          EBIT  Interest           EBT  \
Scenario Year
Base     2020  12745.924260  60681.682890   -1350.0  59331.682890
         2021  13383.220473  63715.767035   -1350.0  62365.767035
         2022  13985.465394  66582.976551   -1350.0  65232.976551
         2023  14544.884010  69246.295613   -1350.0  67896.295613
         2024  15053.954950  71669.915960   -1350.0  70319.915960
Bull     2020  13104.964380  70937.741970   -1350.0  69587.741970
         2021  14153.361530  76612.761328   -1350.0  75262.761328
         2022  15214.863645  82358.718427   -1350.0  81008.718427
         2023  16279.904100  88123.828717   -1350.0  86773.828717
         2024  17338.097867  93851.877584   -1350.0  92501.877584
Bear     2020  12386.884140  50893.937010   -1350.0  49543.937010
         2021  12634.621823  51911.815750   -1350.0  50561.815750
         2022  12824.141150  52690.492986   -1350.0  51340.492986
         2023  12952.382562  53217.397916   -1350.0  51867.397916
         2024  13017.144474  53483.484906   -1350.0  52133.484906

                        Tax    Net_Income
Scenario Year
Base     2020  12459.653407  46872.029483
         2021  13096.811077  49268.955957
         2022  13698.925076  51534.051475
         2023  14258.222079  53638.073534
         2024  14767.182352  55552.733608
Bull     2020  13917.548394  55670.193576
         2021  15052.552266  60210.209062
         2022  16201.743685  64806.974742
         2023  17354.765743  69419.062974
         2024  18500.375517  74001.502067
Bear     2020  10899.666142  38644.270868
         2021  11123.599465  39438.216285
         2022  11294.908457  40045.584529
         2023  11410.827542  40456.570375
         2024  11469.366679  40664.118227

In [17]:
# ---- Step 12: Balance Sheet Projection (simple; Cash as plug) ----

# Grab 2019 actual anchors (millions)
bs_2019 = bs_clean.sort_values("Year").iloc[-1]
cash0   = bs_2019["cash"]
ar0     = bs_2019["netReceivables"]
inv0    = bs_2019["inventory"]
ap0     = bs_2019["accountsPayable"]
ppe0    = bs_2019["propertyPlantEquipment"]
stdebt0 = bs_2019["shortLongTermDebt"]
ltdebt0 = bs_2019["longTermDebt"]
assets0 = bs_2019["totalAssets"]
liab0   = bs_2019["totalLiab"]
equity0 = bs_2019["totalStockholderEquity"]

# Residual buckets we will keep constant for simplicity
other_assets0 = assets0 - (cash0 + ar0 + inv0 + ppe0)
other_liab0   = liab0   - (ap0   + stdebt0 + ltdebt0)

def project_balance_sheet_simple(is_proj_df, assumptions_all, scenario="Base"):
    """
    Simple BS projection using:
      - AR/Inv/AP from DSO/DSI/DPO
      - PP&E roll-forward from CapEx % Rev and Dep from IS projection
      - Equity roll-forward from NI - Dividends
      - ST/LT debt held flat at 2019 levels
      - Cash as BALANCING ITEM (temporary)
    """
    # 2019 anchors
    prev_ar, prev_inv, prev_ap = ar0, inv0, ap0
    prev_ppe = ppe0
    prev_equity = equity0
    prev_cash = cash0

    rows = []
    # Scenario slice
    scen = assumptions_all.loc[scenario].copy()
    # Ensure year order
    scen = scen.sort_index()

    for yr, a in scen.iterrows():
        # Pull IS drivers for this year
        row_is = is_proj_df.loc[is_proj_df["Year"] == yr].iloc[0]
        rev  = row_is["Revenue"]
        cogs = row_is["COGS"]
        dep  = row_is["Dep"]
        ni   = row_is["Net_Income"]

        # Working capital from days
        ar  = (rev/365.0) * a["DSO"]
        inv = (cogs/365.0) * a["DSI"]
        ap  = (cogs/365.0) * a["DPO"]

        # PP&E roll-forward
        capex = rev * a["CapEx_pct"]
        ppe   = prev_ppe + capex - dep

        # Equity roll-forward (assume other equity items flat; change via retained earnings only)
        div   = a["Div_payout"] * ni
        equity = prev_equity + (ni - div)

        # Hold debts flat (we'll introduce ST-debt plug in the next step)
        stdebt = stdebt0
        ltdebt = ltdebt0

        # Cash as residual to satisfy A = L + E
        # A = Cash + AR + Inv + PPE + OtherAssets
        # L+E (ex Cash) = AP + STDebt + LTDebt + OtherLiab + Equity
        cash = (ap + stdebt + ltdebt + other_liab0 + equity) - (ar + inv + ppe + other_assets0)

        # Save row
        rows.append({
            "Year": yr,
            "Revenue": rev,
            "COGS": cogs,
            "Dep": dep,
            "Net_Income": ni,
            "CapEx": capex,
            "Dividends": div,
            "AR": ar,
            "Inventory": inv,
            "AP": ap,
            "PP&E": ppe,
            "Cash": cash,
            "ST_Debt": stdebt,
            "LT_Debt": ltdebt,
            "Other_Assets": other_assets0,
            "Other_Liab": other_liab0,
            "Equity": equity,
            "Total_Assets": cash + ar + inv + ppe + other_assets0,
            "Total_Liab_Equity": ap + stdebt + ltdebt + other_liab0 + equity
        })

        # Update prevs for next year
        prev_ar, prev_inv, prev_ap = ar, inv, ap
        prev_ppe = ppe
        prev_equity = equity
        prev_cash = cash

    bs_proj = pd.DataFrame(rows).set_index("Year")
    return bs_proj

# Run for Base scenario using the IS projection we already computed
bs_proj_base = project_balance_sheet_simple(is_proj_base, assumptions_all, scenario="Base")

# Quick check: A = L + E (should be ~equal; small rounding noise OK)
bs_proj_base[["Total_Assets", "Total_Liab_Equity", "Cash", "AR", "Inventory", "AP", "PP&E", "Equity"]]

,Total_Assets,Total_Liab_Equity,Cash,AR,Inventory,AP,PP&E,Equity
Year,,,,,,,,
2020,379686.933886,379686.933886,88631.383065,45168.701219,4255.423051,52280.911774,38763.426550,125642.022112
2021,419252.696442,419252.696442,124271.241531,47427.136280,4468.194204,54894.957362,40218.124427,162593.739080
2022,460373.508130,460373.508130,161536.604065,49561.357413,4669.262943,57365.230443,41738.283709,201244.277687
2023,502896.672499,502896.672499,200309.577966,51543.811709,4856.033461,59659.839661,43319.249363,241472.832838
2024,546649.317093,546649.317093,240451.928528,53347.845119,5025.994632,61747.934049,44955.548814,283137.383044

In [18]:
# ---- Step 13: Cash Flow Projection (indirect method) ----

def project_cashflow(is_proj_df, bs_proj_df):
    """
    Build Cash Flow from NI, Dep, ΔWC, CapEx, Dividends.
    """
    rows = []
    prev_ar = bs_proj_df.iloc[0]["AR"]
    prev_inv = bs_proj_df.iloc[0]["Inventory"]
    prev_ap = bs_proj_df.iloc[0]["AP"]
    prev_cash = bs_proj_df.iloc[0]["Cash"]

    for yr in bs_proj_df.index:
        ni   = is_proj_df.loc[is_proj_df["Year"] == yr, "Net_Income"].values[0]
        dep  = is_proj_df.loc[is_proj_df["Year"] == yr, "Dep"].values[0]
        capex = bs_proj_df.loc[yr, "CapEx"]
        div   = bs_proj_df.loc[yr, "Dividends"]

        ar = bs_proj_df.loc[yr, "AR"]
        inv = bs_proj_df.loc[yr, "Inventory"]
        ap = bs_proj_df.loc[yr, "AP"]

        # ΔWorking Capital = ΔAR + ΔInv − ΔAP
        if yr != bs_proj_df.index[0]:
            delta_wc = (ar - prev_ar) + (inv - prev_inv) - (ap - prev_ap)
        else:
            delta_wc = 0

        CFO = ni + dep - delta_wc
        CFI = -capex
        CFF = -div  # no debt change for now
        net_cf = CFO + CFI + CFF
        end_cash = prev_cash + net_cf if yr != bs_proj_df.index[0] else bs_proj_df.loc[yr, "Cash"]

        rows.append({
            "Year": yr,
            "CFO": CFO,
            "CFI": CFI,
            "CFF": CFF,
            "Net_CF": net_cf,
            "End_Cash": end_cash
        })

        prev_ar, prev_inv, prev_ap = ar, inv, ap
        prev_cash = end_cash

    return pd.DataFrame(rows).set_index("Year")

# Build CF for Base scenario
cf_proj_base = project_cashflow(is_proj_base, bs_proj_base)
cf_proj_base

               CFO           CFI           CFF        Net_CF       End_Cash
Year
2020  59617.953743 -14131.350810 -11718.007371  33768.595562   88631.383065
2021  62795.015805 -14837.918351 -12317.238989  35639.858466  124271.241531
2022  65654.500079 -15505.624676 -12883.512869  37265.362534  161536.604065
2023  68308.341948 -16125.849663 -13409.518384  38772.973901  200309.577966
2024  70720.788366 -16690.254402 -13888.183402  40142.350562  240451.928528

In [19]:
# ---- Full 3-Statement Projection Engine ----

def run_projection(hist_is, hist_bs, assumptions_all, scenario="Base"):
    # Income Statement
    is_proj = project_income_statement(hist_is, assumptions_all, scenario=scenario)
    # Balance Sheet
    bs_proj = project_balance_sheet_simple(is_proj, assumptions_all, scenario=scenario)
    # Cash Flow
    cf_proj = project_cashflow(is_proj, bs_proj)
    return is_proj, bs_proj, cf_proj

# Run for all scenarios
results = {}
for scen in ["Base", "Bull", "Bear"]:
    is_proj, bs_proj, cf_proj = run_projection(is_clean, bs_clean, assumptions_all, scenario=scen)
    results[scen] = {"IS": is_proj, "BS": bs_proj, "CF": cf_proj}

# Quick peek at Net Income across scenarios
pd.concat({s: results[s]["IS"][["Net_Income"]] for s in results}, axis=1)

           Base          Bull          Bear
     Net_Income    Net_Income    Net_Income
0  46872.029483  55670.193576  38644.270868
1  49268.955957  60210.209062  39438.216285
2  51534.051475  64806.974742  40045.584529
3  53638.073534  69419.062974  40456.570375
4  55552.733608  74001.502067  40664.118227

In [20]:
# ---- KPI / Ratios Builder ----
def build_kpis(is_proj, bs_proj, cf_proj, scen):
    df = pd.DataFrame(index=is_proj["Year"])
    
    rev = is_proj.set_index("Year")["Revenue"]
    cogs = is_proj.set_index("Year")["COGS"]
    ebit = is_proj.set_index("Year")["EBIT"]
    ni   = is_proj.set_index("Year")["Net_Income"]
    
    capex = bs_proj["CapEx"]
    dep   = is_proj.set_index("Year")["Dep"]
    cfo   = cf_proj["CFO"]
    
    # Gross / EBIT / Net Margins
    df["GrossMargin_pct"] = (rev - cogs) / rev
    df["EBITMargin_pct"]  = ebit / rev
    df["NetMargin_pct"]   = ni / rev
    
    # Free Cash Flow
    df["FCF"] = cfo - capex
    
    # ROIC (proxy)
    debt = bs_proj["ST_Debt"] + bs_proj["LT_Debt"]
    equity = bs_proj["Equity"]
    df["ROIC_pct"] = ni / (equity + debt)
    
    # Leverage ratio
    df["Leverage"] = debt / equity
    
    # Working capital days → CCC
    df["DSO"] = assumptions_all.loc[scen]["DSO"].values
    df["DSI"] = assumptions_all.loc[scen]["DSI"].values
    df["DPO"] = assumptions_all.loc[scen]["DPO"].values
    df["CCC"] = df["DSO"] + df["DSI"] - df["DPO"]
    
    df["Scenario"] = scen
    return df

# Build KPIs for all scenarios
kpi_all = pd.concat([build_kpis(results[s]["IS"], results[s]["BS"], results[s]["CF"], s) 
                     for s in results])
kpi_all.set_index(["Scenario"], append=True)

,,GrossMargin_pct,EBITMargin_pct,NetMargin_pct,FCF,ROIC_pct,Leverage,DSO,DSI,DPO,CCC
Year,Scenario,,,,,,,,,,
2020,Base,0.384,0.219,0.169161,45486.602933,0.205842,0.812364,59.5,9.1,111.8,-43.2
2021,Base,0.384,0.219,0.169344,47957.097455,0.186159,0.627742,59.5,9.1,111.8,-43.2
2022,Base,0.384,0.219,0.169502,50148.875403,0.169905,0.507180,59.5,9.1,111.8,-43.2
2023,Base,0.384,0.219,0.169637,52182.492285,0.156133,0.422685,59.5,9.1,111.8,-43.2
2024,Base,0.384,0.219,0.169751,54030.533964,0.144216,0.360486,59.5,9.1,111.8,-43.2
2020,Bull,0.404,0.249,0.195409,51396.835626,0.237594,0.771828,57.5,7.1,113.8,-49.2
2021,Bull,0.404,0.249,0.195690,55975.452608,0.215448,0.575355,57.5,7.1,113.8,-49.2
2022,Bull,0.404,0.249,0.195935,60230.832170,0.197540,0.451617,57.5,7.1,113.8,-49.2
2023,Bull,0.404,0.249,0.196148,64496.908688,0.182617,0.367058,57.5,7.1,113.8,-49.2
2024,Bull,0.404,0.249,0.196335,68731.799889,0.169870,0.305985,57.5,7.1,113.8,-49.2
2020,Bear,0.364,0.189,0.143510,39990.671318,0.174436,0.854323,61.5,11.1,109.8,-37.2
2021,Bear,0.364,0.189,0.143586,40830.330904,0.157051,0.684784,61.5,11.1,109.8,-37.2
2022,Bear,0.364,0.189,0.143643,41453.884327,0.142434,0.569939,61.5,11.1,109.8,-37.2
2023,Bear,0.364,0.189,0.143680,41874.162700,0.129879,0.487364,61.5,11.1,109.8,-37.2
2024,Bear,0.364,0.189,0.143699,42083.936186,0.118904,0.425413,61.5,11.1,109.8,-37.2

In [21]:
# Create exports folder
import os
EXPORT_DIR = "exports"
os.makedirs(EXPORT_DIR, exist_ok=True)

# ---- Flatten & export IS/BS/CF for all scenarios ----
import pandas as pd

def flatten_outputs(results, key):
    frames = []
    for scen, d in results.items():
        df = d[key].copy()
        if "Year" in df.columns:
            pass
        else:
            df = df.reset_index()  # BS/CF might be indexed by Year
        df["Scenario"] = scen
        frames.append(df)
    out = pd.concat(frames, ignore_index=True)
    # Put columns in a nice order
    cols = ["Scenario", "Year"] + [c for c in out.columns if c not in ("Scenario","Year")]
    return out[cols]

is_out = flatten_outputs(results, "IS")
bs_out = flatten_outputs(results, "BS")
cf_out = flatten_outputs(results, "CF")

# ---- KPIs table (we already created kpi_all) ----
kpi_out = kpi_all.copy().reset_index()  # index is Year; Scenario stored as column in build_kpis
# Ensure columns are ordered
if "Scenario" in kpi_out.columns and "Year" in kpi_out.columns:
    kpi_out = kpi_out[["Scenario","Year"] + [c for c in kpi_out.columns if c not in ("Scenario","Year")]]

# ---- Quick sanity checks before export ----
# Balance sheet should balance
bs_out["Balance_Check"] = (bs_out["Total_Assets"] - bs_out["Total_Liab_Equity"]).round(3)
# Cash tie (End_Cash vs BS Cash) per scenario/year
cf_vs_bs = cf_out.merge(bs_out[["Scenario","Year","Cash"]], on=["Scenario","Year"], how="left")
cf_vs_bs["Cash_Tie"] = (cf_vs_bs["End_Cash"] - cf_vs_bs["Cash"]).round(3)

print("Max BS imbalance:", bs_out["Balance_Check"].abs().max())
print("Max Cash tie delta:", cf_vs_bs["Cash_Tie"].abs().max())

# ---- Write CSVs ----
is_path  = os.path.join(EXPORT_DIR, "is_all.csv")
bs_path  = os.path.join(EXPORT_DIR, "bs_all.csv")
cf_path  = os.path.join(EXPORT_DIR, "cf_all.csv")
kpi_path = os.path.join(EXPORT_DIR, "kpi_all.csv")

is_out.to_csv(is_path, index=False)
bs_out.to_csv(bs_path, index=False)
cf_out.to_csv(cf_path, index=False)
kpi_out.to_csv(kpi_path, index=False)

is_path, bs_path, cf_path, kpi_path

Max BS imbalance: 0.0
Max Cash tie delta: 0.0

('exports/is_all.csv',
 'exports/bs_all.csv',
 'exports/cf_all.csv',
 'exports/kpi_all.csv')

In [22]:
import pandas as pd

# Load the three exports you already made
is_out  = pd.read_csv("exports/is_all.csv")
cf_out  = pd.read_csv("exports/cf_all.csv")
kpi_out = pd.read_csv("exports/kpi_all.csv")

# Keep only the columns we need for Page 1
is_keep = is_out[["Scenario","Year","Revenue","Net_Income"]]
cf_keep = cf_out[["Scenario","Year","FCF"]] if "FCF" in cf_out.columns else None

# If cf_all doesn't have FCF (some variants), compute it from kpi_all
if cf_keep is None or cf_keep.isna().all().all():
    # kpi_all already has FCF
    pass

# From KPIs we want margins, ROIC, and efficiency ratios
kpi_keep = kpi_out[[
    "Scenario","Year",
    "GrossMargin_pct","EBITMargin_pct","NetMargin_pct",
    "ROIC_pct","Leverage","DSO","DSI","DPO","CCC","FCF"
]]

# Join IS + KPIs (left join to keep the IS keys)
dash = (
    is_keep
    .merge(kpi_keep, on=["Scenario","Year"], how="left")
    .sort_values(["Scenario","Year"])
)

# Save one tidy file
dash.to_csv("exports/dashboard_all.csv", index=False)
print("Created exports/dashboard_all.csv with columns:", list(dash.columns))

Created exports/dashboard_all.csv with columns: ['Scenario', 'Year', 'Revenue', 'Net_Income', 'GrossMargin_pct', 'EBITMargin_pct', 'NetMargin_pct', 'ROIC_pct', 'Leverage', 'DSO', 'DSI', 'DPO', 'CCC', 'FCF']